<header class="page-header page-header__masthead">
  <div class="wrapper">
    <nav class="page-nav">
      <a class="page-nav__logo" href="{{ site.baseurl }}/">itsvicsoto.com</a>
      <ul class="page-nav__linklist nav" style="float:right;">
        <li><a class="page-nav__linkitem" href=#>Home</a>
        </li>
        <li><a class="page-nav__linkitem" href=#>About</a>
        </li>
        <li><a class="page-nav__linkitem" href=#>Portfolio</a>
        </li>
        <li><a class="page-nav__linkitem" href=#>Contact</a>
        </li>
      </ul>
    </nav>
    <h1>
    <span>Front-End Developer</span>
    <span>/</span>
    <span>Web Alchemy</span>
    </h1>
  </div>
</header>
