<header class="page-header page-header__masthead">
  <div class="wrapper">
    <nav class="page-nav">
      <a class="page-nav__logo" href="{{ site.baseurl }}/">itsvicsoto.com</a>
      <ul class="page-nav__linklist nav" style="float:right;">
        <li><a class="page-nav__linkitem" href=#>Home</a>
        </li>
        <li><a class="page-nav__linkitem" href=#>About</a>
        </li>
        <li><a class="page-nav__linkitem" href=#>Portfolio</a>
        </li>
        <li><a class="page-nav__linkitem" href=#>Contact</a>
        </li>
      </ul>
    </nav>
    <div class="page-header__centerfold">
      <div class="page-header__centerfold-inner">
        <h1>
          <span style="
    color: rgb(255, 82, 137);
    background: #fff;
    padding: 0 5px;
    /* margin: 0; */
">&lt;front-end/&gt;</span>
          <span>web developer</span>

        </h1>
        <p class="page-header__centerfold__shortdesc">Hi! I am Victor Soto from Philippines! I craft websites with <span class="hs-color-love">love</span>.</p>
      </div>
    </div>
  </div>
</header>
